apiVersion: v1
kind: Secret
metadata:
  name: democratic-csi-nfs-secret
  namespace: default
type: Opaque
stringData:
  driver-config-file.yaml: |-
    driver: freenas-nfs
    httpConnection:
      apiVersion: 2
      protocol: https
      host: {{ nas_host }}
      port: 443
      apiKey: {{ nas_apikey | trim }}
      allowInsecure: true
    instance_id: null
    nfs:
      shareHost: {{ nas_host }}
      shareAlldirs: false
      shareAllowedHosts: []
      shareAllowedNetworks: []
      shareMaprootUser: democrat
      shareMaprootGroup: democrat
      shareMapallUser: ""
      shareMapallGroup: ""
    sshConnection:
      host: {{ nas_host }}
      port: 22
      username: {{ nas_user }}
      privateKey: |
        {{ private_key_content | indent(8) }}
    zfs:
      cli:
        sudoEnabled: true
        paths:
          zfs: /usr/sbin/zfs
          zpool: /usr/sbin/zpool
          sudo: /usr/bin/sudo
          chroot: /usr/sbin/chroot
      datasetParentName: ssd1/csi/vols
      detachedSnapshotsDatasetParentName: ssd1/csi/snaps
      zvolBlocksize: null
      zvolCompression: ""
      zvolDedup: ""
      zvolEnableReservation: true
      datasetEnableQuotas: true