apiVersion: v1
kind: Secret
metadata:
  name: democratic-csi-secret
  namespace: default
type: Opaque
stringData:
  driver-config-file.yaml: |-
    driver: freenas-iscsi
    zfs:
        sudoEnabled: true
        paths:
            zfs: /usr/sbin/zfs
            zpool: /usr/sbin/zpool
            sudo: /usr/bin/sudo
            chroot: /usr/sbin/chroot
        datasetParentName: ssd1/csi/vols
        detachedSnapshotsDatasetParentName: ssd1/csi/snaps
        zvolEnableReservation: false
    iscsi:
        targetPortal: [{{ nas_host }}:3260]
        namePrefix: prod-
        nameSuffix: ""
        targetGroups:
        - targetGroupPortalGroup: 1
        targetGroupInitiatorGroup: 1
        targetGroupAuthType: None
        extentInsecureTpc: true
        extentXenCompat: false
        extentDisablePhysicalBlocksize: true
        extentBlocksize: 4096
        extentRpm: "SSD"
        extentAvailThreshold: 0
    httpConnection:
        protocol: https
        host: {{ nas_host }}
        port: 443
        apiKey: {{ nas_apikey | trim }}
        username: {{ nas_user }}
        allowInsecure: true
        apiVersion: 2
    sshConnection:
        host: {{ nas_host }}
        port: 22
        username: {{ nas_user }}
        privateKey: |
          {{ private_key_content | indent(10) }}