.spinner {
    @apply w-6 h-6 border-2 border-gray-200 border-t-blue-600 rounded-full;
    opacity: 0;
    animation:
            fadeIn 500ms 100ms forwards,
            rotate 1s linear infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}